.elementor-9 .elementor-element.elementor-element-076bca5>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-076bca5 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-394a885>.elementor-element-populated {
	padding: 2em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-683a4ff {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-683a4ff>.elementor-widget-container {
	padding: 0em 0em 0em 3em;
}

.elementor-9 .elementor-element.elementor-element-5977f5e {
	margin-top: -3%;
	margin-bottom: 0%;
	padding: 19em 0em 19em 10em;
}

.elementor-9 .elementor-element.elementor-element-f19c735 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f19c735.elementor-widget-heading .elementor-heading-title {
	color: #eee;
}

.elementor-9 .elementor-element.elementor-element-f19c735 .elementor-heading-title {
	font-size: 72px;
	line-height: 1.5em;
}

.elementor-9 .elementor-element.elementor-element-f19c735>.elementor-widget-container {
	padding: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-b02b46d {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-b02b46d.elementor-widget-heading .elementor-heading-title {
	color: #eee;
}

.elementor-9 .elementor-element.elementor-element-b02b46d .elementor-heading-title {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.5em;
	letter-spacing: 2.2px;
}

.elementor-9 .elementor-element.elementor-element-b02b46d>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 1em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-1f7883f>.elementor-container {
	min-height: 60px;
}

.elementor-9 .elementor-element.elementor-element-1f7883f {
	margin-top: -3%;
	margin-bottom: 0%;
	padding: 0em 2em 0em 2em;
}

.elementor-9 .elementor-element.elementor-element-ff3b88f .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-ff3b88f {
	color: #eee;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.8em;
	letter-spacing: 0.5px;
}

.elementor-9 .elementor-element.elementor-element-f42ad9e .elementor-text-editor {
	text-align: right;
}

.elementor-9 .elementor-element.elementor-element-f42ad9e {
	color: #eee;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.8em;
	letter-spacing: 0.5px;
}

.elementor-9 .elementor-element.elementor-element-582cb9e {
	padding: 6em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-f44c406 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f44c406.elementor-widget-heading .elementor-heading-title {
	color: #914ada;
}

.elementor-9 .elementor-element.elementor-element-f44c406>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0em 0em 1em 0em;
}

.elementor-9 .elementor-element.elementor-element-cdb8f9c {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-cdb8f9c.elementor-widget-heading .elementor-heading-title {
	color: #111118;
}

.elementor-9 .elementor-element.elementor-element-cdb8f9c>.elementor-widget-container {
	padding: 0em 0em 2em 0em;
}

.elementor-9 .elementor-element.elementor-element-1b5b28d .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-3de7054 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-3de7054>.elementor-widget-container {
	padding: 2em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-cb6057b>.elementor-element-populated {
	padding: 7em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-d82d5a3 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f126bb9 {
	padding: 1em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-722fbca {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-0c55943 {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-97bbdfe {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-2cddccc {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-7cbd68f {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-a135cee {
	padding: 0em 0em 4em 0em;
}

.elementor-9 .elementor-element.elementor-element-2d4cead {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-b9e43e7 {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-f878182 {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-7d3e7ce {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-7840e77 {
	text-align: center;
}

.elementor-9 .elementor-element.elementor-element-d308ebc {
	padding: 04em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-f940082 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f940082.elementor-widget-heading .elementor-heading-title {
	color: #914ada;
}

.elementor-9 .elementor-element.elementor-element-f940082>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0em 0em 1em 0em;
}

.elementor-9 .elementor-element.elementor-element-f980524 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f980524.elementor-widget-heading .elementor-heading-title {
	color: #111118;
}

.elementor-9 .elementor-element.elementor-element-f980524>.elementor-widget-container {
	padding: 0em 0em 2em 0em;
}

.elementor-9 .elementor-element.elementor-element-24a4d88 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-79a5ba7>.elementor-element-populated {
	padding: 7em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-26f2c67 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-dd68357 {
	padding: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-282e2e2 {
	padding: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-6f66d55 {
	padding: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-d4814ce {
	padding: 0em 0em 04em 0em;
}

.elementor-9 .elementor-element.elementor-element-4d91a9d {
	padding: 04em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-63abb19 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-63abb19.elementor-widget-heading .elementor-heading-title {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-63abb19>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0em 0em 1em 0em;
}

.elementor-9 .elementor-element.elementor-element-2161f08 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-2161f08.elementor-widget-heading .elementor-heading-title {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-2161f08>.elementor-widget-container {
	padding: 0em 0em 2em 0em;
}

.elementor-9 .elementor-element.elementor-element-479ee8e .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-479ee8e {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-bd8752a {
	padding: 0em 0em 4em 0em;
}

.elementor-9 .elementor-element.elementor-element-f03303a>.elementor-element-populated {
	padding: 0em 0em 3em 0em;
}

.elementor-9 .elementor-element.elementor-element-502c4cd {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 04em 0em 4em 0em;
}

.elementor-9 .elementor-element.elementor-element-502c4cd>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c8b9ce7 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-c8b9ce7.elementor-widget-heading .elementor-heading-title {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-c8b9ce7>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0em 0em 1em 0em;
}

.elementor-9 .elementor-element.elementor-element-35abd77 {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-35abd77.elementor-widget-heading .elementor-heading-title {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-35abd77>.elementor-widget-container {
	padding: 0em 0em 2em 0em;
}

.elementor-9 .elementor-element.elementor-element-3621838 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-3621838 {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-1da7de3 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-1da7de3 {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-1da7de3>.elementor-widget-container {
	padding: 1em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-186b8be .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-186b8be {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-186b8be>.elementor-widget-container {
	padding: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-b800ad8 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-b800ad8 {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-b800ad8>.elementor-widget-container {
	padding: 1em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-0a716bc .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-0a716bc {
	color: #fefefe;
}

.elementor-9 .elementor-element.elementor-element-0a716bc>.elementor-widget-container {
	padding: 0em 0em 4em 0em;
}

.elementor-9 .elementor-element.elementor-element-c0daf70 .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-c0daf70 {
	color: #fefefe;
	font-size: 14px;
	line-height: 20px;
}

.elementor-9 .elementor-element.elementor-element-c0daf70>.elementor-widget-container {
	padding: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-2d73e4e .elementor-text-editor {
	text-align: left;
}

.elementor-9 .elementor-element.elementor-element-2d73e4e {
	color: #fefefe;
	font-size: 14px;
	line-height: 20px;
}

.elementor-9 .elementor-element.elementor-element-2d73e4e>.elementor-widget-container {
	padding: 1em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-1b0d30e.elementor-column .elementor-column-wrap {
	align-items: flex-start;
}

.elementor-9 .elementor-element.elementor-element-1b0d30e>.elementor-element-populated {
	padding: 11em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-e2bfedf>.elementor-widget-container {
	padding: 0em 0em 0em 0em;
}

@media(max-width:1198px) {
	.elementor-9 .elementor-element.elementor-element-5977f5e {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 15em 0em 1em 0em;
	}
	.elementor-9 .elementor-element.elementor-element-1f7883f {
		margin-top: 0%;
		margin-bottom: 0%;
		padding: 12em 0em 0em 0em;
	}
}

@media(max-width:899px) {
	.elementor-9 .elementor-element.elementor-element-5977f5e {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 2em 0em 0em 0em;
	}
	.elementor-9 .elementor-element.elementor-element-1f7883f {
		margin-top: 112%;
		margin-bottom: 0%;
	}
	.elementor-9 .elementor-element.elementor-element-cb6057b>.elementor-element-populated {
		padding: 0px 0px 0px 10px;
	}
	.elementor-9 .elementor-element.elementor-element-79a5ba7>.elementor-element-populated {
		padding: 0px 0px 0px 10px;
	}
	.elementor-9 .elementor-element.elementor-element-0a716bc>.elementor-widget-container {
		padding: 0em 0em 1em 0em;
	}
	.elementor-9 .elementor-element.elementor-element-1b0d30e>.elementor-element-populated {
		padding: 0em 0em 0em 0em;
	}
}

@media(min-width:900px) {
	.elementor-9 .elementor-element.elementor-element-2a46e38 {
		width: 66.683%;
	}
	.elementor-9 .elementor-element.elementor-element-d1257a7 {
		width: 33.317%;
	}
	.elementor-9 .elementor-element.elementor-element-6845437 {
		width: 13.034%;
	}
	.elementor-9 .elementor-element.elementor-element-ecc7cf5 {
		width: 86.966%;
	}
	.elementor-9 .elementor-element.elementor-element-690453e {
		width: 50%;
	}
	.elementor-9 .elementor-element.elementor-element-cb6057b {
		width: 50%;
	}
	.elementor-9 .elementor-element.elementor-element-79a5ba7 {
		width: 50%;
	}
}

@media(max-width:1198px) and (min-width:900px) {
	.elementor-9 .elementor-element.elementor-element-5110fa4 {
		width: 100%;
	}
	.elementor-9 .elementor-element.elementor-element-1b0d30e {
		width: 100%;
	}
}